/*#region ----------------- Sidebar Cart */
#side-basket {
  width: 300px;
  position: fixed;
  top: 0;
  left: -300px;
  max-height: 100%;
  height: 100%;
  z-index: 2002;
  background: white;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  &.active {
    left: 0;
  }
  .basket-header {
    text-align: center;
    padding: 30px 0;
    font-weight: 400;
    box-shadow: 0 10px 20px -2px rgba($color: #000000, $alpha: 0.1);
    position: relative;
    z-index: 50;
    flex-shrink: 0;
    .order-numbers {
      font-size: 14px;
      font-weight: 400;
      color: $textDark;
      margin-bottom: 0;
      span {
        font-weight: 600;
        font-size: 16px;
      }
    }
  }
  .basket-list-item {
    padding: 10px;
    overflow-y: auto;
    background-color: white;
    flex: 1 1 auto;
    .item {
      border-bottom: 1px solid $borderColor;
      padding: 10px 0;
      &:last-child {
        border-bottom: none;
      }
      .item-inner {
        display: grid;
        grid-template-columns: 60px auto;
        align-items: center;
      }
      .product-image {
        a {
          display: block;
        }
        img {
          width: 100%;
        }
      }
      .product-info {
        padding-right: 10px;
        a {
          display: block;
        }
        .name {
          font-size: 14px;
          font-weight: 400;
          color: $textDark;
          @include textTruncate(1);
          line-height: normal;
          margin-bottom: 0.6rem;
          &:hover {
            color: $primary;
          }
        }
        .data {
          @include displayFlex(flex, center, space-between);
        }
        .price {
          .number {
            font-size: 14px;
            font-weight: 600;
            color: $textDark;
            .toman {
              font-size: 12px;
              font-weight: 400;
              margin-right: 5px;
              color: $textGrey;
            }
          }
        }
        .btn-delete {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          border: 1px solid $textGrey;
          padding: 0;
          font-size: 14px;
          color: $textGrey;
          background-color: white;
          &:hover {
            background-color: $error;
            color: white;
            border-color: $error;
          }
        }
      }
    }
  }
  .basket-pays {
    padding: 10px;
    z-index: 50px;
    background-color: white;
    flex-shrink: 0;
    box-shadow: 0 -10px 20px -8px rgba($color: #000000, $alpha: 0.05);
    .goto-cart {
      width: 100%;
      display: block;
      position: relative;
      color: white;
      background: $primary;
      border-radius: 10px;
      padding: 12px;
      .count-price {
        position: absolute;
        left: 5px;
        top: 5px;
        padding: 8px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 8px;
        background-color: rgba($color: white, $alpha: 1);
        color: $primary;
      }
      .btn-text {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
  #dismiss-basket {
    position: absolute;
    top: 22px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: $textGrey;
    padding: 0;
    border-radius: 50%;
    background-color: $background;
    border: none;
    z-index: 60;
    font-size: 24px;
    right: 10px;
    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.1);
      color: $textDark;
    }
  }
  .empty-box {
    @include displayFlex(flex, center, center);
    flex-direction: column;
    padding: 50px 0;
    .thumb {
      .mdi {
        font-size: 50px;
        color: $textGrey;
      }
    }
  }
}
.basket-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2001;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  &.active {
    display: block;
    opacity: 1;
  }
}

@media (max-width: 350px) {
  #side-basket {
    width: 100%;
    left: -400px;
  }
}
/*#endregion -------------- Sidebar Cart */
