/*#region ----------------- Test */
.tips-section {
  margin: 40px 0;
  .section-inner {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 5px 40px -1px rgba($color: #000000, $alpha: 0.08);
  }
  .tips-header {
    border-bottom: 1px solid $borderColor;
    border-radius: 4px;
    padding-bottom: 20px;
    h6 {
      text-align: justify;
    }
    p {
      margin-bottom: 0;
      .mdi {
        position: relative;
        top: 3px;
        margin-left: 5px;
        font-size: 18px;
      }
    }
  }
  .tips-list {
    margin-top: 20px;
  }
  .item {
    display: grid;
    grid-template-columns: 48px auto;
    margin-top: 20px;
    .num {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      background-color: $primary;
      color: white;
      @include displayFlex(flex, center, center);
      font-size: 16px;
      font-weight: 600;
    }
    h3 {
      margin: 5px 0;
      font-size: 18px;
      color: $textDark;
    }
    p {
      margin-bottom: 0;
      font-size: 16px;
      color: $textDark;
      text-align: justify;
    }
  }
  .btns-action {
    margin-top: 30px;
    text-align: center;
    border-top: 1px solid $borderColor;
    border-radius: 4px;
    padding-top: 20px;
  }
}

.questions-section {
  .section-inner {
    background-color: white;
    border-radius: 8px;
    // padding: 20px;
    box-shadow: 0 5px 40px -1px rgba($color: #000000, $alpha: 0.08);
  }
  .question-header {
    @include displayFlex(flex, center, space-between);
    padding: 15px 20px;
    height: 78px;
    .title {
      h4 {
        font-size: 18px;
        margin-bottom: 0;
        color: $textDark;
        @include textTruncate(1);
      }
      p {
        margin-bottom: 0;
        font-size: 16px;
        color: $textGrey;
      }
    }
    .timer-msg {
      display: none;
      color: $error;
      white-space: nowrap;
    }
    .actions-group {
      @include displayFlex(flex, center, flex-end);
    }
    .countdown-timer {
      text-align: center;
      .clock-timer {
        font-size: 16px;
        font-weight: 600;
        color: $textDark;
        text-align: center;
        span {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
}

.questions-list {
  .question-item {
    margin: 20px 0;
    padding: 0 20px;
    animation: swipeLeftsmall 0.3s linear;
    @include displayFlex(none, center, space-between);
    .info {
      padding-left: 20px;
    }
    .name {
      font-size: 18px;
      font-weight: 600;
      color: $primary;
    }
    .btns-questions {
      // margin-top: 20px;
      @include displayFlex(flex, center, center);
      .btn-answer {
        background-color: $background_grey;
        border: 1px solid $borderColor;
        border-left: none;
        font-size: 15px;
        font-weight: 400;
        padding: 12px;
        transition: all 0.2s ease-in-out;
        width: 80px;
        &.active {
          background-color: $secondary;
          color: white;
          border-color: $secondary;
          font-weight: 600;
        }
        &:first-child {
          border-radius: 0 8px 8px 0;
        }
        &:last-child {
          border-radius: 8px 0 0 8px;
          border-left: 1px solid $borderColor;
        }
      }
    }
    &.active {
      display: flex;
    }
  }
}

.questions-btns-action {
  @include displayFlex(flex, center, center);
  border-top: 1px solid $borderColor;
  padding: 20px;
  .btn-next,
  .btn-prev {
    margin: 5px;
  }
  .btn-primary {
    &:focus,
    &:hover {
      background-color: $primary;
      color: white;
    }
  }
}

.test-result-section {
  .section-inner {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 5px 40px -1px rgba($color: #000000, $alpha: 0.08);
  }
  .result-header {
    @include displayFlex(flex, center, space-between);
    border-bottom: 1px solid $borderColor;
    padding-bottom: 10px;
    .title {
      h4 {
        font-size: 18px;
        margin-bottom: 5px;
        color: $textDark;
        @include textTruncate(1);
      }
      p {
        margin-bottom: 0;
        font-size: 16px;
        color: $textGrey;
      }
    }
  }
  .result-body {
    width: 60%;
    margin: 0 auto;
  }
  .result-tips {
    margin-top: 30px;
    background-color: $background_grey;
    padding: 20px;
    border-radius: 8px;
    p {
      text-align: justify;
    }
  }
}

.bottom-buttons-action {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 998;
  .inner {
    background-color: white;
    box-shadow: 0 -8px 20px rgba($color: #000000, $alpha: 0.1);
    padding: 15px;
    text-align: center;
    @include displayFlex(flex, center, center);
    .btn {
      margin: 0 5px;
    }
  }
}

@media (max-width: 1400px) {
  .test-result-section {
    .result-body {
      width: 85%;
    }
  }
}
@media (max-width: 1199px) {
  .test-result-section {
    .result-body {
      width: 100%;
    }
  }
}
@media (max-width: 992px) {
  .questions-list {
    .question-item {
      flex-direction: column;
      .name {
        font-size: 16px;
      }
      .btns-questions {
        margin-top: 20px;
        .btn-answer {
          font-size: 14px;
          width: 70px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .questions-section {
    .question-header {
      padding: 10px 15px;
      height: 68px;
      .title {
        h4 {
          font-size: 16px;
        }
        p {
          font-size: 14px;
        }
      }
      .actions-group {
        justify-content: space-between;
      }
      .countdown-timer {
        text-align: right;
      }
      .timer-msg {
        font-size: 14px;
      }
    }
  }
  .questions-btns-action {
    padding: 10px;
    .btn-next,
    .btn-prev {
      flex: 1 0 33.33%;
      width: 33.33%;
      font-size: 14px;
    }
  }
}

@media (max-width: 575px) {
  .bottom-buttons-action {
    .inner {
      .btn {
        font-size: 12px;
        padding: 8px 10px;
        flex: 0 0 33.33%;
        width: 33.33%;
        .mdi {
          font-size: 1.25rem;
        }
        &.icon-right {
          padding-right: 2.2rem !important;
          .mdi {
            right: 0.56rem;
          }
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .questions-list {
    .question-item {
      .btns-questions {
        .btn-answer {
          font-size: 12px;
          width: 60px;
          font-weight: 600;
        }
      }
    }
  }
}

/*#endregion -------------- Test */
